.fixdNav{
  	background-color:#eaf1fb;
  	width:7%;
}
.firstNav {
	background: #eaf1fb;
}

.toggleDiv {
		
	border-radius: 50%;
        margin-left:25px;
        
}

.toggleDiv:hover {
	background-color: #c4c7c5;
}

.iconBox {
	height:40px;
	width:40px;
	margin-left:25px;
	border-radius: 50%;
}

.iconImg {
	height: 25px;
        width:25px;       
}
.iconImg1 {
	height: 25px;
        width:25px;       
}

.iconText {
	font-size: .75rem;
	letter-spacing: normal;
	font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
	
}

.iconBox:hover {
	background-color: #d3e3fd;
}

.labelSection {
	height: 25px;
}

.labelText {
	font-size: 15px;
}

.labelIcon {
	height: 20px;
	width: 20px;
}
.secnavimg{
        height:20px;
	width:20px;
}

.main {
	height: auto;
}

.mainSection {
	height: 610px;
	background: #f8fafd;
}

.headerSection {
	width:100%;
	height: 55px;
}

.mainLogo {
	width: 30px;
	height: 25px;
}

.searchBar {
	background: white;
	height: 45px;
	width: 620px;
	border-radius: 20px;
	
	background: #e9eef6;
	text-decoration: none;
}

.searchGlass {
	height: 22px;
	width: 22px;
	
	border-radius: 50%;
	color: black;
}

.searchText {
	color: #747775;
	font-sixe: 20px;	
}

.searchText1 {
	display: none;
}

.searchLogo{
	height: 25px;
	width: 25px;
}
.searchLogo1 {
	height: 20px;
	width: 20px;
	border-radius:50%;
}

.activeSection {
	background: white;
	height: 45px;
	border-radius: 20px;	
	width: 100px;
	background: #e9eef6;
}



.activeText {
	font-size: 12px;
}

.activeLogo {
	
}

.iconHeader {
	height: 30px;
	width: 30px;
	background: transparent;
}


.headerButton {
	background: white;
	height: 45px;
	border-radius: 7px;
	width: 125px;
	border: 1px solid #dadce0;
	
}

.techLogo {
	height: 35px;
	width: 80px;
	background: white;
}

.logoIcon {
	border-radius: 50%;
	height: 30px;
	width: 30px;
}
.composeBtn{
        background-color:#c2e7ff;
  	width:60%;
}